body {
  background: url('../images/bg.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size:cover;
  -o-background-size: cover;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../images/ps.jpeg');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
  }